*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-internas {
    background: #eeeeee;
    padding: 20px 0;
    z-index: 9;
    box-shadow: 3px 3px 10px rgba(0,0,0,.3);
    transition: .6s;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

html, body{
    height: 100%;
}

.name-logo h1{
    color: #333333;
    font-weight: bold;
}

.carrinho-icon {
    display: flex;
    align-items: center;
}

.fas.fa-bars{
        display: none;
    }

.carrinho-icon .fa-bars{
    font-size: 40px;
    margin: 0 40px;
    color: #333333;
    cursor: pointer;
}

.nav-interna .menu-mobile{
    flex-direction: column;
    position: fixed;
    top: 94px;
    left: 0;
    background: rgba(0,0,0,.9);
    width: 100%;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    
}


@keyframes mobOpen{
    
    0%{
        height: 0;
        opacity: 0;
    }
    
    100%{
        height: 40%;
        opacity: 1;
    }
    
    
}

@keyframes mobClose{
    
    0%{
        height: 40%;
        opacity: 1;
    }
    
    100%{
        height: 0;
        opacity: 0;
    }
    
    
}

ul.menu-mobile li a:hover {
    background: #eaeaea;
    color: #333333!important;
}

.menu-mobile li a{
    display: block;
    padding: 10px 0;
    color: #ffffff!important;
}

.stickyMenu{
    position: fixed;
    width: 100%;
    top: 0;
}




nav.nav-interna {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-interna ul {
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.nav-interna ul li a{
    text-decoration: none;
    color: #333333;
    padding: 30px 0;
}

form.form-carrinho {
    overflow: hidden;
    padding: 20px 0;
    border: 0;
}

form.form-carrinho th{
    background: #333333;
    padding: 10px 0;
    color: #ffffff;
    border: 0;
}

form.form-carrinho td{
    padding: 30px 0;
}

#cupom-desconto{
    height: 40px;
    border: 0;
    padding: 10px;
    margin: 0 10px; 
}

.cupom-desconto {
    background: #cccccc;
    padding: 40px 20px;
}

.content-subtotal {
    width: 400px;
    float: right;
    padding: 40px 0;
}

.item-subtotal {
    border: 2px solid #eaeaea;
    width: calc(100%/2);
    display: inline-block;
    margin-right: -4px;
    padding: 10px;
}

input#send-payment {
    width: 100%;
    padding: 10px 0;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    background: #333333;
}


/*HEADER TOP*/


.wrap-carrinho{
    display: flex;
    
}

.wrap-carrinho-product{
    flex: 2;
}

.wrap-carrinho-pay{
    background: #fafafa;
    flex: 1;
    margin-left: 20px;
    padding: 0 20px;
}

.wrap-title-carrinho {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #CCCCCF;
    padding: 50px 0;
}

.container-title-product {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    text-align: center
}

.product-title{
    flex: 2;

}

.product-qtd{
    flex: 1;
}

.product-price{
    flex: 1;
}

.product-total{
    flex: 1;
}

.wrap-product-img-desc{
    display: flex;
    padding: 40px 0;
}

.product-qtd h4, .product-price h4, .product-total h4{
    margin: 40px 0;
}

.product-qtd h4 {
    width: 50px;
    padding: 10px;
    border: 1px solid;
    margin: 40px 5px;
}

.product-qtd .wrap-product-qtd{
    display: flex;
    align-items: center;
    justify-content: center
    
}

#qtd-select{
    margin: 40px 0;
    height: 20px;
    border: 1px solid #cccccc;
    font-size: 16px;
}

.wrap-product-qtd button{
 display: block;
}

#decrement, #increment{
    border: 0;
    background: none;
    font-size: 20px;
    background: #eaeaea;
    padding: 0px 7px;
    outline: none;
    cursor: pointer;
    
}

.title-pay h2 {
    padding: 50px 0 0 0;
    text-align: center;
}

.title-pay h2:after {
    content: "";
    background: #ccc;
    height: 4px;
    width: 90%;
    display: block;
    margin: 50px auto 0 auto;
}

.wrap-quantidade-subtotal{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.price-entrega, .promo-code {
    padding-bottom: 20px;
}

.price-entrega select {
    height: 50px;
    margin: 10px 0;
    border: 0;
    background: #ffffff;
    font-size: 15px;
}

.input-format{
    border: 0;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
}

.promo-code form, .consulta-frete form{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}



input#apply, input#btn-consultar {
    background: #828282;
    color: #ffffff;
    cursor: pointer;
    max-width: 120px;
    width: 90%;
    border: 0;
    padding: 10px 15px;
    text-align: center;
}



.wrap-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.prosseguir a{
    background: #4B4B4B;
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.title-pay {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 20px;
}

section.carrinho-section {
    padding-bottom: 60px;
}

@media screen and (max-width: 890px){
    .wrap-carrinho{
        flex-direction: column;
    }
    
    .wrap-carrinho-pay {
    background: none;
    flex: 1;
    margin: 0;
}
}


/*CADASTRO ENDERECO*/

.wrap-checkout-endereco input, .wrap-checkout-payment input {
    width: 100%;
    height: 50px;
    outline: none;
    margin: 10px 0;
    padding: 10px;
}


.wrap-checkout-payment, .wrap-checkout-endereco{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}


.wrap-check{
    margin: 10px 30px;
    width: 100%;
}

a[name="btn-checkout"]{
    background: #4B4B4B;
    max-width: 200px;
    width: 90%;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin: 10px 30px;
    border: 0;
    cursor: pointer;

    
}

#btn-checkout-voltar{
    background: #cccccc;
    color: #333333;
    font-weight: bold;
}

.wrap-checkout-input{
    max-width: 600px;
    margin: 40px auto;
    display: flex;
    justify-content: flex-end;

}


/*CONFIRMAÇÃO DE PAGAMENTO*/
.modal-confirm{
    background: rgba(0,0,0,.9);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}

.wrap-modal-confirm{
    background: #eaeaea;
    max-width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    animation: modal .6s;
    border-radius: 10px
}

.mensagem-confirmacao{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-modal{
    background: #333333;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    font-weight: bold;
    border: 3px solid #ffffff;
}


.mostrarModal{
    display: block;
}

@keyframes modal{
    0%{
    opacity: 0;
    top: 45%;

    }
    
    100%{
        opacity: 1;
        top: 50%;
    }
}

.mensagem-confirmacao h2{
    color: green;
    font-weight: bold;
}
.wrap-payment-confirm-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrap-payment-confirm-button h4{
    font-weight: normal;
    
}

.wrap-payment-confirm-button h4 span{
    font-weight: bold;
    
}

.new-endereco-novo {
    position: relative;
    background: #eaeaea;
    max-width: 300px;
    width: 90%;
    height: 100px;
    cursor: pointer;
}

.icon-add {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
    width: 100%;
    text-align: center;
}

#button-confirm-payment{
    padding: 10px 20px;
    display: block;
    background: #4B4B4B;
    color: #ffffff;
    text-decoration: none;
    margin: 0 40px;
    
}


.wrap-order-confirmation{
    width: calc(100%/2.1);
    height: 400px;
    padding: 20px;
    display: inline-table;
    margin: 10px 0;
}

.wrap-order-confirmation h3{
    padding: 20px 0;
}

.wrap-order-confirmation h4{
    padding: 15px 10px 15px 0;
    display: inline-block;
}

.itens-payment-confirm{
    padding: 25px 0;
    border-bottom: 1px solid #eaeaea;
}


.wrap-order-confirmation h3:after{
    content: "";
    width: 80%;
    background: #333333;
    height: 2px;
    display: block;
}

.title-itens-confirm{
    display: flex;
    margin: 40px 0;
    padding: 15px 0;
    border-bottom: 1px solid #aaaaaa;
}

.title-itens-confirm h4{
    flex: .5;
    color: #666666;
}

.title-itens-confirm h4:nth-of-type(1){
    flex: 1;
}

.wrap-item-img-desc{
    display: flex;
    
}

.itens-payment-confirm{
    display: flex;
}

.itens-payment{
    flex: .5;
}

.itens-payment:nth-of-type(1){
    flex: 1;
}

.order-confirmation-main{
    background: #fafafa;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

.subinfo-value{

    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.container-information-value{
    
    overflow: hidden;
    margin: 40px 0;
}
.wrap-information-value{
    max-width: 300px;
    width: 90%;
    padding: 0 20px;
    float: right;
}

.wrap-information-value #button-confirm-payment{
    width: 100%;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.subinfo-value h4{
    color: #888888;
}

.subinfo-value h3{
    color: #333333;
}

.wrap-carrinho-icon {
    position: relative;
    cursor: pointer;
}

.img-pagseguro{
    margin: 0 auto;
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.circle-car {
    background: tomato;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
    line-height: 26px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.3);
}

@media screen and (max-width: 780px){
    .nav-interna .menu-desk{
        display: none;
    }
    
        .openMenu{
        height: auto!important;
        opacity: 1!important;
        animation: mobOpen 1s; 

    }
    
        .closeMenu{
        height: 0!important;
        opacity: 0!important;
        animation: mobClose 1s;
    }

    .fas.fa-bars{
        display: block;
    }
      
}


