<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Open Beer</title>
        <link rel="stylesheet" th:href="@{/css/carrinho.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    </head>

    <body>
        <header class="menu-internas">
            <div class="container">
                <nav class="nav-interna">
                    <div class="name-logo">
                        <h1>OPENBEER.</h1>
                    </div>
                    <ul>
                        <li><a th:href="@{/OpenBeer/Home}">HOME</a></li>
                        <li><a th:href="@{/OpenBeer/Sobre}">SOBRE</a></li>
                        <li><a th:href="@{/OpenBeer/cerveja/Lista-de-Cervejas}">CERVEJAS</a></li>
                        <li><a th:href="@{/OpenBeer/Contato}">CONTATO</a></li>
                        <li><a data-th-href="@{/OpenBeer/BackOffice/Consultar-Produtos}">BACKOFFICE</a></li>
                    </ul>
                </nav>
                <!--nav-interna-->
            </div>
        </header>
        <section class="carrinho-section">
            <div class="container">
                <div class="wrap-carrinho">
                    <div class="wrap-carrinho-product">
                        <div class="wrap-title-carrinho">
                            <div class="carrinho-title">
                                <h1>CARRINHO</h1>
                            </div><!--carrinho-title-->
                            <div class="carrinho-qtd-itens">
                                <h2><span th:text ="${quantidadeCarrinho}"></span> ITENS</h2>
                            </div><!--carrinho-qtd-itens-->
                        </div><!--wrap-title-carrinho--> 

                        <div class="container-title-product" data-th-each="item : ${carrinhoCompras.itens}" >
                            <div class="product-title">
                                <h3>Produtos</h3>
                                <div class="wrap-product-img-desc">
                                    <div class="product-img">
                                        <img th:src="@{/img/beer-artesanal.png}" alt="" width="100px">
                                    </div><!--product-img-->
                                    <div class="product-desc-inside">
                                        <h4><span data-th-text="${item.cerveja.nome}"></span></h4>
                                        <span data-th-text="${item.cerveja.marca}"></span>
                                    </div><!--product-desc-inside-->
                                </div><!--wrap-product-img-desc-->
                            </div><!--product-title-->
                            <div class="product-qtd">
                                <h3>Qtd</h3>
                                <div class="wrap-product-qtd">
                                    <input type="number" min="1" readonly="readonly" id="quantidade" name="quantidade"  value="${carrinhoCompras.getQuantidade(item)}" />
                                </div><!--wrap-product-qtd-->
                            </div><!--product-qtd-->
                            <div class="product-price">
                                <h3>Preço</h3>
                                <h4>R$ <span data-th-text="${item.cerveja.valorCerveja}"></span></h4>
                            </div><!--product-price-->
                            <div class="product-total">
                                <h3>Total</h3>
                                <h4>R$ <span data-th-text="${carrinhoCompras.getTotal(item)}"></span></h4>
                            </div><!--product-total-->
                        </div><!--container-title-product--> 
                    </div><!--wrap-carrinho-product-->

                    <div class="wrap-carrinho-pay" >
                        <div class="title-pay">
                            <h2>Resumo do Carrinho</h2>
                            <div class="wrap-quantidade-subtotal">
                                <div class="qtd-itens-subtotal">
                                    <h4>Itens <span th:text ="${quantidadeCarrinho}"></span></h4>
                                </div><!--qtd-itens-subtotal-->

                                <div class="subtotal-products">
                                    <h4>R$ <span th:text="${carrinhoCompras.total}"></span></h4>
                                </div><!--subtotal-products-->

                            </div><!--wrap-quantidade-subtotal-->

                            <!--<div class="consulta-frete">
                                <h3>Consulte o frete</h3>
                                <form action="#">
                                    <input class="input-format" type="number" name="consultar-frete" id="consultar-frete" placeholder="Seu CEP">
                                    <input type="submit" name="btn-consultar" id="btn-consultar" value="CONSULTAR">
                                </form>
                            </div><!--promo-code-->

                            <div class="price-entrega">
                                <h3>Entrega</h3>
                                <div class="wrap-product-qtd">
                                    <select name="entrega" th:classappend="${#fields.hasErrors('tipoEntrega')}? is-invalid" th:field="*{tipoEntrega}">
                                        <option th:each="tipo : ${tipoEntrega}"
                                                th:value="${tipo.id}"
                                                th:text="${tipo.tipoEntrega}"
                                </select>
                            </div>
                        </div><!--price-entrega-->

                        <!--<div class="promo-code">
                            <h3>Código Promocional</h3>
                            <form action="#">
                                <input class="input-format" type="text" name="promo-code" id="promo-code" placeholder="Seu código aqui">
                                <input type="submit" name="apply" id="apply" value="APLICAR">
                            </form>
                        </div><!--promo-code-->

                    </div><!--title-pay-->

                    <div class="wrap-total">
                        <div class="wrap-total-pagar">
                            <h4>Total a pagar</h4>
                        </div><!--wrap-total-pagar-->
                        <div class="valor-total-pagar">
                            <h4>R$ <span th:text ="${carrinhoCompras.total}"></span></h4>
                        </div><!--valor-total-pagar--> 
                    </div>
                    <div class="prosseguir">
                        <a href="cadastro-endereco.html">PROSSEGUIR</a>
                    </div><!--prosseguir-->
                </div><!--wrap-carrinho-pay-->
            </div><!--wrap-carrinho-->
        </div><!--container-->
    </section><!--carrinho-section-->
    <footer>
        <p>Desenvolvido por WDA</p>
        <p>Todos os direitos reservados - 2019</p>
    </footer>
    <script th:src="@{/js/carrinho.js}"></script>
</body>
</html>