<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Open Beer</title>
        <link rel="stylesheet" data-th-href="@{/css/carrinho.css}">
        <link rel="stylesheet" data-th-href="@{/css/header-footer.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="container">   
                    <div class="wrap-top-header">
                        <span data-sec-authorize="isAuthenticated()">
                            <a class="cad-login" href="#">Usuário:  <span data-sec-authentication="name"></span></a>
                        </span>
                        <span sec:authorize="isAnonymous()">
                            <a class="cad-login" data-th-href="@{/OpenBeer/Cliente/Cadastro-Login}">Login / Cadastro</a>
                        </span>
                        <a class="area-cliente" href="#">Área do Cliente</a>
                    </div><!--wrap-top-header-->
                    <span data-sec-authorize="isAuthenticated()">
                        <div class="content-area-cliente">
                            <div class="wrap-content-area">
                                <ul>
                                    <li><a data-th-href="@{/OpenBeer/Cliente/MeusPedidos}">Meus pedidos</a></li>
                                    <li><a data-th-href="@{/OpenBeer/Cliente/EditarCadastro}">Editar cadastro</a></li>
                                    <li><a data-th-href="@{/logout}">Sair</a></li>
                                </ul>
                            </div><!--wrap-content-area-->
                        </div><!--content-area-cliente-->
                    </span>
                </div><!--container-->
            </div><!--top-header-->
            <div class="menu-internas">
                <div class="container">
                    <nav class="nav-interna">
                        <div class="name-logo">
                            <h1>OPENBEER.</h1>
                        </div>
                        <ul class="menu-desk">
                            <li><a data-th-href="@{/OpenBeer/Home}">HOME</a></li>
                            <li><a  data-th-href="@{/OpenBeer/Home#sobre}">SOBRE</a></li>
                            <li><a data-th-href="@{/OpenBeer/cerveja/Lista-de-Cervejas}">CERVEJAS</a></li>
                            <li><a data-th-href="@{/OpenBeer/Home#contato}">CONTATO</a></li>
                            <span data-sec-authorize="hasRole('ROLE_ADMIN')">
                                <li><a data-th-href="@{/OpenBeer/BackOffice/Consultar-Produtos}">BACKOFFICE</a></li>
                            </span>
                        </ul><!--menu-desk-->
                        <ul class="menu-mobile">
                            <li><a data-th-href="@{/OpenBeer/Home}">HOME</a></li>
                            <li><a  data-th-href="@{/OpenBeer/Home#sobre}">SOBRE</a></li>
                            <li><a data-th-href="@{/OpenBeer/cerveja/Lista-de-Cervejas}">CERVEJAS</a></li>
                            <li><a  data-th-href="@{/OpenBeer/Home#contato}">CONTATO</a></li>
                            <span data-sec-authorize="hasRole('ROLE_ADMIN')">
                                <li><a data-th-href="@{/OpenBeer/BackOffice/Consultar-Produtos}">BACKOFFICE</a></li>
                            </span>
                        </ul><!--menu-mobile-->
                        <div class="carrinho-icon">
                            <i class="fas fa-bars"></i>
                            <div class="wrap-carrinho-icon">
                                <a data-th-href="@{/OpenBeer/Carrinho/Compra}"><img data-th-src="@{/img/icon-carrinho.png}" alt="Ícone do Carrinho de compras" width="50"></a>
                                <div class="circle-car">
                                    <span data-th-text ="${quantidadeCarrinho}"></span>
                                </div><!--circle-car-->
                            </div><!--wrap-carrinho-icon-->
                        </div><!--carrinho-icon-->
                </div><!--carrinho-icon-->
                </nav>
                <!--nav-interna-->
            </div>
        </header>
        <div class="modal-confirm">
            <div class="wrap-modal-confirm">
                <div class="close-modal">
                    <span>X</span>
                </div><!--close-modal-->
                <div class="mensagem-confirmacao">
                    <h3>SEU PEDIDO FOI REALIZADA</h3>
                    <h2>COM SUCESSO!</h2>
                </div><!--mensagem-confirmacao-->
            </div><!--wrap-modal-confirm-->
        </div><!--modal-confirm-->
        <section class="carrinho-section">
            <div class="container">
                <div class="wrap-carrinho">
                    <div class="wrap-carrinho-product">
                        <div class="wrap-title-carrinho">
                            <div class="carrinho-title">
                                <h1>CONFIRMAÇÃO DE COMPRA</h1>
                            </div><!--carrinho-title-->
                            <div class="carrinho-qtd-itens">
                                <div class="wrap-payment-confirm-button">
                                    <h4>Total da compra: <b>R$</b><span data-th-text="${carrinhoCompras.totalCompra}"></span></h4>
                                    <a href="#" id="button-confirm-payment">CONFIRMAR</a> 
                                </div><!--wrap-payment-confirm-button-->
                            </div><!--carrinho-qtd-itens-->
                        </div><!--wrap-title-carrinho-->   
                    </div><!--wrap-carrinho-product-->
                </div><!--wrap-carrinho-->
            </div><!--container-->
        </section><!--carrinho-section-->
        <section class="progress-cadastro">
            <div class="container">
                <div class="wrap-progress">
                    <img src="" alt="">
                </div><!--wrap-progress-->
            </div><!--container-->
        </section><!--progress-cadastro-->

        <!--data-th-action="@{/OpenBeer/Pagamento/Finalizar}"-->

        <form id="formFinalizarCompra" method="POST">
            <input type="hidden" data-th-classappend="${#fields.hasErrors('carrinhoCompras.cliente')}? is-invalid" data-th-field="*{carrinhoCompras.cliente}">
            <input type="hidden" data-th-classappend="${#fields.hasErrors('carrinhoCompras.endereco')}? is-invalid" data-th-field="*{carrinhoCompras.endereco}">
            <section class="order-confirmation">
                <div class="container">
                    <div class="order-confirmation-main">
                        <div class="wrap-order-confirmation">
                            <h3>Sua informaçoes</h3>
                            <h4>Nome: </h4><span data-th-text="${carrinhoCompras.cliente.nomeCompleto}"></span><br>
                            <h4>Email: </h4><span data-sec-authentication="name"></span><br>
                            <h4>Telefone: </h4><span data-th-text="${carrinhoCompras.cliente.telefone}"></span><br>
                        </div><!--wrap-order-confirmation-->
                        <div class="wrap-order-confirmation">
                            <h3>Endereço</h3>
                            <h4>Logradouro: </h4><span data-th-text="${carrinhoCompras.endereco.logradouro}"></span><br>
                            <h4>Número: </h4><span data-th-text="${carrinhoCompras.endereco.numero}"></span><br>
                            <h4>CEP: </h4><span data-th-text="${carrinhoCompras.endereco.cep}"></span><br>
                            <h4>Estado: </h4><span data-th-text="${carrinhoCompras.endereco.estado}"></span><br>
                            <h4>Cidade: </h4><span data-th-text="${carrinhoCompras.endereco.cidade}"></span><br>
                            <h4>Bairro: </h4><span data-th-text="${carrinhoCompras.endereco.bairro}"></span><br>   
                        </div><!--wrap-order-confirmation-->


                        <!--<div class="wrap-order-confirmation">
                            <h3>Pagamento</h3>
                            <h4>Cartão de crédito</h4><br>
                            <img data-th-src="@{/img/visaicon.png}" alt="visa-icon" width="40"><br>
                            <p>Cartão utilizado: <span class="bandeira">Visa</span>
                                <span class="card-number">2343</span></p> 
                        </div><!--wrap-order-confirmation

                        <!--<div class="wrap-order-confirmation">
                            <h3>Adicionar novo endereço</h3>
                            <div class="new-endereco-novo">
                                <div class="icon-add">
                                    <span><a data-th-href="@{/OpenBeer/Cliente/Cadastrar-Novo-Endereco}">+</a></span>
                                </div><!--icon-add
                            </div><!--new-endereco-novo  
                        </div><!--wrap-novo-endereco-->

                    </div><!--order-confirmation-main-->
                </div><!--container-->
            </section><!--form-checkout-endereco-->
            <section class="itens-confirm">
                <div class="container">
                    <div class="title-itens-confirm">
                        <h4>Item</h4>
                        <h4>Marca</h4>
                        <h4>Quantidade</h4>
                        <h4>Preço</h4>
                    </div><!--title-itens-confirm-->

                    <div class="itens-payment-confirm" data-th-each="item : ${carrinhoCompras.itens}">
                        <div class="itens-payment wrap-item-img-desc">
                            <div class="img-product-confirm">
                                <img data-th-src="@{/product-picture/{imagem}(imagem=${item.cerveja.imagem})}" alt="Imagem do produto" width="80"> 
                            </div><!--img-product-confirm-->
                            <div class="desc-item-confirm">
                                <h4><span data-th-text="${item.cerveja.nome}"></span></h4>
                                <span data-th-text="${item.cerveja.breveDescricao}"></span><br><br>
                                <a data-th-href="@{/OpenBeer/Pagamento/{id}/remover(id=${item.cerveja.id})}">Remover</a>
                            </div><!--descp-item-confirm-->
                        </div><!--wrap-item-img-desc-->
                        <div class="itens-payment type-product">
                            <span data-th-text="${item.cerveja.marca}"></span>
                        </div><!--type-product-->

                        <div class="itens-payment qtd-product">
                            <span data-th-text="${carrinhoCompras.getQuantidade(item)}"></span>
                        </div><!--qtd-product-->

                        <div class="itens-payment price-product-confirm">
                            <p>R$ <span data-th-text="${carrinhoCompras.getTotal(item)}"></span></p>
                        </div><!--price-product-confirm-->
                    </div><!--itens-payment-confirm-->
                </div><!--container-->
            </section><!--itens-confirm-->
            <section class="information-value">
                <div class="container">
                    <div class="container-information-value">
                        <div class="wrap-information-value" >
                            <div class="subinfo-value subtotal">
                                <h4>Subtotal: </h4>
                                <h3>R$ <span data-th-text="${carrinhoCompras.total}"></span></h3>
                            </div><!--subtotal-->
                            <div class="subinfo-value frete">
                                <h4>Frete: </h4>
                                <h3>R$ <span data-th-text="${carrinhoCompras.valorEntrega}">0,00</span></h3>
                            </div><!--frete-->
                            <div class="subinfo-value desconto">
                                <h4>Desconto: </h4>
                                <h3>R$ <span data-th-text="${carrinhoCompras.valorDesconto}">0,00</span></h3>
                            </div><!--desconto-->
                            <div class="subinfo-value total">
                                <h4>Total: </h4>
                                <h2>R$ <span data-th-text="${carrinhoCompras.totalCompra}"></span></h2>
                            </div><!--total-->
                            <input type="hidden" id="pagSeguroURL" data-th-value="*{pagSeguroURL}">
                            <input type="submit" id="button-confirm-payment" value="FINALIZAR COMPRA">
                            <!--<a id="button-confirm-payment" data-th-href ="@{pagSeguroURL}" target="_blank">FINALIZAR COMPRA</a>-->
                        </div><!--wrap-information-value-->
                    </div><!--container-information-value-->
                </div><!--container-->
            </section>
        </form><!--information-value-->
        <footer>
            <p>Desenvolvido por WDA</p>
            <p>Todos os direitos reservados - 2019</p>
        </footer>
        <script type="text/javascript"
                src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js">
        </script>
        <script type="text/javascript" data-th-src="@{/js/finalizar-compra.js}"></script>
        <script type="text/javascript" data-th-src="@{/js/pagSeguro.js}"></script>
        <script type="text/javascript" data-th-src="@{/js/header.js}"></script>

    </body>
</html>