<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Open Beer</title>
        <link rel="stylesheet" href="css/carrinho.css">
        <link rel="stylesheet" href="css/footer.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


    </head>

    <body>
        <header class="menu-internas">
            <div class="container">
                <nav class="nav-interna">
                    <div class="name-logo">
                        <h1>OPENBEER.</h1>
                    </div>
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="sobre.html">SOBRE</a></li>
                        <li><a href="cervejas.html">CERVEJAS</a></li>
                        <li><a href="contato.html">CONTATO</a></li>
                    </ul>
                    <div class="carrinho-icon">
                        <div class="wrap-carrinho-icon">
                            <img src="img/icon-carrinho.png" alt="Carrinho Icon" width="50">
                        </div><!--wrap-carrinho-icon-->
                    </div><!--carrinho-icon-->
                </nav>
                <!--nav-interna-->
            </div>
        </header>
        <section class="carrinho-section">
            <div class="container">
                <div class="wrap-carrinho">
                    <div class="wrap-carrinho-product">
                        <div class="wrap-title-carrinho">
                            <div class="carrinho-title">
                                <h1>ENDEREÇO</h1>
                            </div><!--carrinho-title-->
                        </div><!--wrap-title-carrinho--> 
                    </div><!--wrap-carrinho-product-->
                </div><!--wrap-carrinho-->
            </div><!--container-->
        </section><!--carrinho-section-->
        <section class="progress-cadastro">
            <div class="container">
                <div class="wrap-progress">
                    <img src="" alt="">
                </div><!--wrap-progress-->
            </div><!--container-->
        </section><!--progress-cadastro-->
        <section class="form-checkout-endereco">
            <div class="container">
                <div class="wrap-checkout-endereco">
                    <div class="confirmacao-endereco">
                        <p class="text-confirm-endereco"><span>Rua: </span>Discípulos de Emaús, <span>23</span></p>
                        <p class="text-confirm-endereco"><span>Estado: </span>SP</p>
                        <p class="text-confirm-endereco"><span>Cidade: </span>São Paulo</p>
                        <p class="text-confirm-endereco"><span>Bairro: </span>Vila São José</p>
                        <p class="text-confirm-endereco"><span>CEP: </span>04837080</p>
                    </div><!--confirmacao-endereco-->
                    <div class="adicionar-novo-endereco">

                    </div><!--adicionar-novo-endereco-->
                </div><!--wrap-checkout-endereco-->
            </div><!--container-->
        </section><!--form-checkout-endereco-->
        <footer>
            <p>Desenvolvido por Opeen Beer</p>
            <p>Todos os direitos reservados - 2019</p>
        </footer>
        <script src="js/carrinho.js"></script>
    </body>
</html>