<meta charset="UTF-8">
<title>Open Beer</title>
<link rel="stylesheet" data-th-href="@{/css/dados-endereco.css}">
<link rel="stylesheet" data-th-href="@{/css/header-footer.css}">
<link rel="stylesheet" data-th-href="@{/css/mensagens.css}">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>

<header>
    <div class="top-header">
        <div class="container">   
            <div class="wrap-top-header">
                <span data-sec-authorize="isAuthenticated()">
                    <a class="cad-login" href="#">Usuário:  <span data-sec-authentication="name"></span></a>
                </span>
                <span sec:authorize="isAnonymous()">
                    <a class="cad-login" data-th-href="@{/OpenBeer/Cliente/Cadastro-Login}">Login / Cadastro</a>
                </span>
                <a class="area-cliente" href="#">Área do Cliente</a>
            </div><!--wrap-top-header-->
            <span data-sec-authorize="isAuthenticated()">
                <div class="content-area-cliente">
                    <div class="wrap-content-area">
                        <ul>
                            <li><a data-th-href="@{/OpenBeer/Cliente/MeusPedidos}">Meus pedidos</a></li>
                            <li><a data-th-href="@{/OpenBeer/Cliente/EditarCadastro}">Editar cadastro</a></li>
                            <li><a data-th-href="@{/logout}">Sair</a></li>
                        </ul>
                    </div><!--wrap-content-area-->
                </div><!--content-area-cliente-->
            </span>
        </div><!--container-->
    </div><!--top-header-->
    <div class="menu-internas">
        <div class="container">
            <nav class="nav-interna">
                <div class="name-logo">
                    <h1>OPENBEER.</h1>
                </div>
                <ul class="menu-desk">
                    <li><a data-th-href="@{/OpenBeer/Home}">HOME</a></li>
                    <li><a  data-th-href="@{/OpenBeer/Home#sobre}">SOBRE</a></li>
                    <li><a data-th-href="@{/OpenBeer/cerveja/Lista-de-Cervejas}">CERVEJAS</a></li>
                    <li><a data-th-href="@{/OpenBeer/Home#contato}">CONTATO</a></li>
                    <span data-sec-authorize="hasRole('ROLE_ADMIN')">
                        <li><a data-th-href="@{/OpenBeer/BackOffice/Consultar-Produtos}">BACKOFFICE</a></li>
                    </span>
                </ul><!--menu-desk-->
                <ul class="menu-mobile">
                    <li><a data-th-href="@{/OpenBeer/Home}">HOME</a></li>
                    <li><a  data-th-href="@{/OpenBeer/Home#sobre}">SOBRE</a></li>
                    <li><a data-th-href="@{/OpenBeer/cerveja/Lista-de-Cervejas}">CERVEJAS</a></li>
                    <li><a  data-th-href="@{/OpenBeer/Home#contato}">CONTATO</a></li>
                    <span data-sec-authorize="hasRole('ROLE_ADMIN')">
                        <li><a data-th-href="@{/OpenBeer/BackOffice/Consultar-Produtos}">BACKOFFICE</a></li>
                    </span>
                </ul><!--menu-mobile-->
                <div class="carrinho-icon">
                    <i class="fas fa-bars"></i>
                    <div class="wrap-carrinho-icon">
                        <a data-th-href="@{/OpenBeer/Carrinho/Compra}"><img data-th-src="@{/img/icon-carrinho.png}" alt="Ícone do Carrinho de compras" width="50"></a>
                        <div class="circle-car">
                            <span data-th-text ="${quantidadeCarrinho}"></span>
                        </div><!--circle-car-->
                    </div><!--wrap-carrinho-icon-->
                </div><!--carrinho-icon-->
            </nav>
            <!--nav-interna-->
        </div><!--container-->
    </div><!--menu-internas-->
</header>
<body>
    <section class="dados-endereco">
        <div class="container">
            <div class="wrap-dados-endereco">
                <div class="content-dados-endereco">
                    <form data-th-action="@{/OpenBeer/Endereco/salvar}" method="POST" data-th-object="${endereco}" novalidate>
                        <h2>CADASTRE UM ENDEREÇO</h2>
                        <input type="text" autocomplete="off" style="display: none;" data-th-classappend="${#fields.hasErrors('idCliente')}? is-invalid" data-th-field="*{idCliente}">
                        <div data-th-if="${#fields.hasErrors('idCliente')}" data-th-errors="*{idCliente}" class="alert alert-danger">

                        </div>
                        <div class="wrap-cep-numero">
                            <div class="wrap-cep">
                                <label for="cep">CEP</label>
                                <input type="text" name="cep" id="cep" placeholder="Digite seu CEP" required data-th-classappend="${#fields.hasErrors('cep')}? is-invalid" data-th-field="*{cep}">
                                <div data-th-if="${#fields.hasErrors('cep')}" data-th-errors="*{cep}" class="alert alert-danger">

                                </div>
                                <a class="atualizar-cep" href="">Atualizar CEP</a> 
                            </div><!--wrap-cpf-cep-->
                            <div class="wrap-tel">
                                <label for="numero">Número</label>
                                <input type="text" name="numero" id="numero" autocomplete="off" placeholder="Número da casa" data-th-classappend="${#fields.hasErrors('numero')}? is-invalid" data-th-field="*{numero}">
                                <div data-th-if="${#fields.hasErrors('numero')}" data-th-errors="*{numero}" class="alert alert-danger">

                                </div>
                            </div><!--wrap-numero-->   
                        </div><!--wrap-cep-numero-->
                        <div>
                            <label for="complemento">Complemento</label><br>
                            <input type="text" name="complemento" id="complemento" required placeholder="Digite o Complemento" data-th-classappend="${#fields.hasErrors('complemento')}? is-invalid" data-th-field="*{complemento}">
                            <div data-th-if="${#fields.hasErrors('complemento')}" data-th-errors="*{complemento}" class="alert alert-danger">

                            </div>
                        </div>
                        <div>
                            <label for="logradouro">Logradouro</label><br>
                            <input type="text" name="logradouro" id="logradouro" placeholder="Logradouro" required data-th-classappend="${#fields.hasErrors('logradouro')}? is-invalid" data-th-field="*{logradouro}">  
                            <div data-th-if="${#fields.hasErrors('logradouro')}" data-th-errors="*{logradouro}" class="alert alert-danger">

                            </div>
                        </div>
                        <div class="content-cidade">
                            <div class="wrap-estado">
                                <label for="estado">Estado</label>
                                <input type="text" name="estado" id="estado" placeholder="Seu Estado" required data-th-classappend="${#fields.hasErrors('estado')}? is-invalid" data-th-field="*{estado}"> 
                                <div data-th-if="${#fields.hasErrors('estado')}" data-th-errors="*{estado}" class="alert alert-danger">

                                </div>
                            </div><!--wrap-estado-->
                            <div class="wrap-cidade">
                                <label for="cidade">Cidade</label>
                                <input type="text" name="cidade" id="cidade" placeholder="Sua Cidade" required data-th-classappend="${#fields.hasErrors('cidade')}? is-invalid" data-th-field="*{cidade}">
                                <div data-th-if="${#fields.hasErrors('cidade')}" data-th-errors="*{cidade}" class="alert alert-danger">

                                </div>
                            </div><!--wrap-cidade-->   
                        </div><!--content-cidade-->
                        <div>
                            <label for="bairro">Bairro</label><br>
                            <input type="text" name="bairro" id="bairro" placeholder="Seu bairro" data-th-classappend="${#fields.hasErrors('bairro')}? is-invalid" data-th-field="*{bairro}" required>
                            <div data-th-if="${#fields.hasErrors('bairro')}" data-th-errors="*{bairro}" class="alert alert-danger">

                            </div>
                        </div>

                        <input type="submit" name="btn-continuar" id="btn-continuar" value="Continuar">  
                    </form>
                    <script type="text/javascript" data-th-src="@{/js/buscaEndereco.js}"></script>
                    <script type="text/javascript" data-th-src="@{/js/header.js}"></script>
                </div><!--content-login-cliente-->  
            </div><!--wrap-login-cadastro-->
        </div><!--container-->
    </section><!--login-cadastro--> 
    <footer>
        <p>Desenvolvido por WDA</p>
        <p>Todos os direitos reservados - 2019</p>
    </footer>
</body>