.table-meus-pedidos{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    background: #eeeeee;
}

section.meus-pedidos {
    padding: 100px 0;
}

section.meus-pedidos h1 {
    padding-top: 100px;
    text-align: center;
}

.table-meus-pedidos td{
    background: #fafafa;
    padding: 20px;
}

.table-meus-pedidos th{
    padding: 10px;
}

.wrap-meus-pedidos {
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
    max-width: 900px;
    width: 90%;
    margin: 30px auto 10px auto;
    padding: 30px 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    transition: .5s;
    cursor: pointer;
}

span.dot-status {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.effectPedido{
    transform: scale(1.01);
    box-shadow: 10px 10px 10px rgba(0,0,0,.1);

}

.pago{
    background: #21ce5b;
    box-shadow: 0 0 10px #3fe85c;
}

.nao-pago{
    background: #fc4f49;
    box-shadow: 0 0 10px #fc4f49;
}

.pago-text{
    color: #15a946;

}

.nao-pago-text{
    color: #fc4f49;

}

.analise{
    background: #f7e041;
    box-shadow: 0 0 10px #e4ff04;
}

.analise-text{
    color: #f7e041;

}




.date-pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.day {
    font-size: 30px;
}

.single-meus-produtos{
    max-width: 900px;
    width: 90%;
    background: #fafafa;
    margin: 0 auto;
    list-style: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-single-prod{

}

.content-single-prod{
    height: 0;
    overflow: hidden;
}

.openPedido{
    animation: openPedido 1s;
    height: auto;

}

.closePedido{
    animation: closePedido 1s;
    height: 0;

}

@keyframes openPedido{
    0%{
        height: 0;

    }
    
    100%{
        height: auto;

    }
}

@keyframes closePedido{
    0%{
        height: auto;
    }
    
    100%{
        height: 0;
    }
}



/*RELATORIO*/

.title-relatorio{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    background: #eeeeee;
}

.title-relatorio {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 90%;
    margin: 20px auto 0 auto;
    background: #333333;
    color: #ffffff;
}

select#status {
    height: 40px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.filtro-relatorio {
    background: #333333;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.filtro-relatorio input {
    border: 0;
    height: 30px;
    text-align: center;
    outline: none;
    margin: 0 10px;
}

input[type="submit"] {
    background: #333333;
    padding: 0px 30px;
    cursor: pointer;
    border: 2px solid #ffffff;
    color: #ffffff;
}
