*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    height: 100%;
    background: #eeeeee;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    
}

.wrap-produtos h1 {
    font-size: 50px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 40px;
    text-shadow: 5px 5px 10px rgba(0,0,0,.2);
}

.wrap-produtos h2 {
    font-size: 30px;
    background: #333333;
    max-width: 600px;
    border-radius: 50px 0;
    padding: 10px;
    margin: 30px auto;
    color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}

.wrap-produtos {
    text-align: center;
    padding: 250px 0 100px 0;
}

.wrap-filtro{
    color: #333333;
    padding: 10px 0;
}

.wrap-list{
    display: flex;
    justify-content: space-between;
}

.categorias{
    background: #333333;
    border: 5px solid #eeeeee;
    border-left: 0;
    width: 200px;
    height: 500px;
    position: sticky;
    top: 100px;
}

.list{
    border: 5px solid #eeeeee;
    border-right: 0;
    flex: 1;
}

.single-product{
    width: calc(100% / 3);
    display: inline-block;
    margin-left: -4px;
    border: 5px solid #eeeeee;
    border-right: 0;
}


.img-single-product{
    width: 100%;
    text-align: center;
}


.img-single-product:after{
    content:"";
    width: 100%;
    height: 2px;
    background: #000000;
    display: inline-block;
    margin: 0 auto;
}

.single-product:hover{
   transform:perspective(2deg);
    transition: 1s;
}

.wrap-single-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.sem-estoque{
     background: #cccccc;
    padding: 20px;
}

.desc-single-product{
    width: 100%;
}

.wrap-single-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.wrap-single-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.desc-single-name{
    flex: .8;
    
}

.desc-single-ml{
    flex: 1;
    text-align: right;
}

.desc-single-price{
    flex: .8;
}

.desc-single-desc{
    font-family: arial;
    flex: 1;
    text-align: right;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
}

.btn-comprar-list a {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    margin: 30px 10px;
    display: block;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    transition: 1s;
    transform: skewY(0deg);
    width: 130px;
    text-align: center;
    margin: 30px auto;
}

.btn-comprar-list a:hover{
    animation: btnComprarProduto 1s;
}

@keyframes btnComprarProduto{
    0%{
        transform: skewY(0deg);
    }
    
    50%{
        transform: skewY(5deg);
    }
    
    100%{
        transform: skewY(0deg);
    }
}

.categorias h2{
    font-size: 16px;
    text-align: center;
    padding: 50px 0 30px 0;
    color: #ffffff;
    
}

.categorias h2:after{
    content: "";
    width: 100px;
    height: 1px;
    background: tomato;
    display: block;
    margin: 0 auto;
    margin-top: 5px; 
}

.categories-list li{
    list-style: none;
}

.categories-list li a{
    padding: 10px 20px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    
}

.wrap-filtro form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #333333;
}

.wrap-filtro form h2{
    font-size: 14px;
    font-weight: 100;
}
.wrap-filtro form select{
    padding: 5px;
    border: 0;
    outline: none;
    margin: 0 10px;
    background: none;
    color: #333333;
    width: 100px;
    
}

.wrap-filtro form select option{
    color: #333333;
    border: 0;
    background: #333333;
    outline: none;
    
}

#field-buscar{
    border: 0;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 0 20px;
    outline: none;
    background: #ffffff;
    color: #333333;
    
}

