<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Open Beer</title>
        <link rel="stylesheet" th:href="@{/css/carrinho.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    </head>

    <body>
        <header class="menu-internas">
            <div class="container">

                <!--  <div class="cadastro-login">
                      <div class="field-cadastro">
                          <a href="#">CADASTRE-SE</a>
                      </div>
                <!--field-cadastro-->
                <!-- <div class="field-login">
                     <a href="#">LOGIN</a>
                 </div>
                <!--field-login-->
                <!-- </div>
                <!--cadastro-login-->
                <nav class="nav-interna">
                    <div class="name-logo">
                        <h1>OPENBEER.</h1>
                    </div>
                    <ul>
                        <li><a th:href="@{/OpenBeer/Home}">HOME</a></li>
                        <li><a th:href="@{/OpenBeer/Sobre}">SOBRE</a></li>
                        <li><a th:href="@{/OpenBeer/Cervejas}">CERVEJAS</a></li>
                        <li><a th:href="@{/OpenBeer/Contato}">CONTATO</a></li>
                    </ul>
                </nav>
                <!--nav-interna-->
                <div class="login-register" style="display: none">
                    <div class="wrap-background-login-register">
                        <div class="wrap-login-register">
                            <div class="register">
                                <h2>REGISTRE - SE</h2>
                                <form action="">
                                    <input type="name" name="name" required placeholder="Digite seu nome: ">
                                    <input type="tel" name="phone" required placeholder="Digite seu telefone: ">
                                    <input type="email" name="email" required placeholder="Digite seu email: ">
                                    <input type="email" name="confirm-email" required placeholder="Confirme seu email: ">
                                    <input type="name" name="username" required placeholder="Crie um usuário: ">
                                    <input type="password" name="pass" required placeholder="Digite uma senha: ">
                                    <input type="password" name="confirm-pass" required placeholder="Confirme sua senha: ">
                                    <input type="submit" name="btn-cadastrar" value="CADASTRAR">
                                </form>
                            </div>
                            <!--register-->
                            <div class="login">
                                <h2>FAÇA O LOGIN</h2>
                                <form action="">
                                    <input type="name" name="user-login" required placeholder="Insira seu user: ">
                                    <input type="password" name="pass-login" required placeholder="Digite sua senha: ">
                                    <input type="submit" name="btn-login" value="LOGIN">
                                </form>
                            </div>
                            <!--login-->
                        </div>
                        <!--wrap-login-register-->
                    </div>
                    <!--wrap-background-login-register-->
                </div>
                <!--login-register-->
            </div>
        </header>
        <section class="carrinho-section">
            <div class="container">
                <div class="wrap-carrinho">
                    <div class="wrap-carrinho-product">
                        <div class="wrap-title-carrinho">
                            <div class="carrinho-title">
                                <h1>CARRINHO</h1>
                            </div><!--carrinho-title-->
                            <div class="carrinho-qtd-itens">
                                <h2><span>3 </span>ITENS</h2>
                            </div><!--carrinho-qtd-itens-->
                        </div><!--wrap-title-carrinho--> 

                        <div class="container-title-product">
                            <div class="product-title">
                                <h3>Produtos</h3>
                                <div class="wrap-product-img-desc">
                                    <div class="product-img">
                                        <img th:src="@{/img/beer-artesanal.png}" alt="" width="100px">
                                    </div><!--product-img-->
                                    <div class="product-desc-inside">
                                        <h4>NOME DO PRODUTO</h4>
                                        <span>Descricao de todo o produto</span>
                                    </div><!--product-desc-inside-->
                                </div><!--wrap-product-img-desc-->
                            </div><!--product-title-->
                            <div class="product-qtd">
                                <h3>Qtd</h3>
                                <h4>3</h4>
                            </div><!--product-qtd-->
                            <div class="product-price">
                                <h3>Preço</h3>
                                <h4>R$ <span>1,00</span></h4>
                            </div><!--product-price-->
                            <div class="product-total">
                                <h3>Total</h3>
                                <h4>R$ <span>3,00</span></h4>
                            </div><!--product-total-->
                        </div><!--container-title-product--> 
                    </div><!--wrap-carrinho-product-->
                    <div class="wrap-carrinho-pay">
                        <div class="title-pay">
                            <h2>Resumo do Pedido</h2>
                            <div class="wrap-quantidade-subtotal">
                                <div class="qtd-itens-subtotal">
                                    <h4>Itens <span>5</span></h4>
                                </div><!--qtd-itens-subtotal-->
                                <div class="subtotal-products">
                                    <h4>R$ <span>3,00</span></h4>
                                </div><!--subtotal-products-->
                            </div><!--wrap-quantidade-subtotal-->

                            <div class="price-entrega">
                                <h3>Entrega</h3>
                                <select name="entrega" id="entrega">
                                    <option value="">
                                        Rápida - R$ 16,93
                                    </option>
                                </select>
                            </div><!--price-entrega-->
                            <div class="promo-code">
                                <h3>Código Promocional</h3>
                                <form action="#">
                                    <input type="text" name="promo-code" id="promo-code" placeholder="Seu código aqui">
                                    <input type="submit" name="apply" id="apply" value="APLICAR">
                                </form>
                            </div><!--promo-code-->
                        </div><!--title-pay-->

                        <div class="wrap-total">
                            <div class="wrap-total-pagar">
                                <h4>Total a pagar</h4>
                            </div><!--wrap-total-pagar-->
                            <div class="valor-total-pagar">
                                <h4>R$ <span>19,93</span></h4>
                            </div><!--valor-total-pagar--> 
                        </div>
                        <div class="prosseguir">
                            <a href="#">PROSSEGUIR</a>
                        </div><!--prosseguir-->
                    </div><!--wrap-carrinho-pay-->
                </div><!--wrap-carrinho-->
            </div><!--container-->
        </section><!--carrinho-section-->
        <footer>
            <p>Desenvolvido por Opeen Beer</p>
            <p>Todos os direitos reservados - 2019</p>
        </footer>
    </body>
</html>