<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Open Beer</title>
        <link rel="stylesheet" th:href="@{/css/carrinho.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    </head>
    <body>
        <header class="menu-internas">
            <div class="container">
                <nav class="nav-interna">
                    <div class="name-logo">
                        <h1>OPENBEER.</h1>
                    </div>
                    <ul>
                        <li><a th:href="@{/OpenBeer/Home}">HOME</a></li>
                        <li><a th:href="@{/OpenBeer/Sobre}">SOBRE</a></li>
                        <li><a th:href="@{/OpenBeer/cerveja/Lista-de-Cervejas}">CERVEJAS</a></li>
                        <li><a th:href="@{/OpenBeer/Contato}">CONTATO</a></li>
                        <li><a th:href="@{/OpenBeer/cerveja/BackOffice}">BACKOFFICE</a></li>
                    </ul>
                    <div class="carrinho-icon">
                        <div class="wrap-carrinho-icon">
                            <img th:src="@{/img/icon-carrinho.png}" alt="Carrinho Icon" width="50">
                            <div class="circle-car">
                                <span th:text ="${quantidadeCarrinho}"></span>
                            </div><!--circle-car-->
                        </div><!--wrap-carrinho-icon-->
                    </div><!--carrinho-icon-->
                </nav>
                <!--nav-interna-->
            </div>
        </header>

        <section class="carrinho-section">
            <div class="container">
                <div class="content-carrinho">
                    <div class="wrap-carrinho-product">
                        <div class="wrap-title-carrinho">
                            <div class="carrinho-title">
                                <h1>CARRINHO</h1>
                            </div><!--carrinho-title-->
                        </div><!--wrap-title-carrinho--> 
                    </div><!--wrap-carrinho-product-->
                    <form class="form-carrinho" action="">
                        <table width="1200" class="tabela-carrinho">
                            <thead class="head-carrinho">
                                <tr>
                                    <th></th>
                                    <th class="form-carrinho-item-head">Produto</th>
                                    <th class="form-carrinho-item-head">Preço</th>
                                    <th class="form-carrinho-item-head">Quantidade</th>
                                    <th class="form-carrinho-item-head">Total</th>
                                </tr>
                            </thead>
                            <tbody align="center" class="corpo-carrinho">
                                <tr  data-th-each="item : ${carrinhoCompras.itens}">
                                    <td><img data-th-src="@{/img/beer-artesanal.png}" alt="imagem do Produto" width="50"></td>
                                    <td class="form-carrinho-item" data-th-text="${item.cerveja.nome}"></td>
                                    <td class="form-carrinho-item">R$ <span data-th-text="${item.cerveja.valorCerveja}"></span></td>
                                    <td class="formularioDoCarrinho-item">
                                        <input type="number" min="1" id="quantidade" name="quantidade" data-th-field="*{carrinhoCompras.quantidade(item)}" />
                                    </td>
                                    <td class="form-carrinho-item">R$ <span  data-th-text="${carrinhoCompras.getTotal(item)}" ></span></td>                       
                                    <td class="form-carrinho-item"><a data-th-href="@{/OpenBeer/Carrinho/{id}/remover(id=${item.cerveja.id})}">
                                            <img class="formularioDoCarrinho-item-remover-imagem" data-th-src="@{/img/remover.png}" alt="Remover Icon"></a></td>                      
                                </tr>
                                <!--  <tr>
                                      <td align="left" colspan = "3" class="desconto">CUPOM DE DESCONTO <input type="text" name="cupom-desconto"><a href="">ADICIONAR</a></td>
                                  </tr>-->
                            </tbody>
                        </table>
                        <div class="cupom-desconto">
                            <span>CUPOM DE DESCONTO</span>
                            <input type="text" name="cupom-desconto" id="cupom-desconto" placeholder="Código">
                            <a href="">ADICIONAR</a>
                        </div><!--cupom-desconto-->
                        <div class="content-subtotal">
                            <div class="item-subtotal">
                                <p>SUBTOTAL</p>
                            </div><!--item-subtotal-->
                            <div class="item-subtotal">
                                <p>R$ <span data-th-text="${carrinhoCompras.total}"></span></p>
                            </div><!--item-subtotal-->
                            <div class="item-subtotal">
                                <p>ENTREGA</p>
                            </div><!--item-subtotal-->
                            <div class="item-subtotal">
                                <a href="#">Calcular</a>
                            </div><!--item-subtotal-->
                            <div class="item-subtotal">
                                <p>TOTAL</p>
                            </div><!--item-subtotal-->
                            <div class="item-subtotal">
                                <p>R$ <span data-th-text="${carrinhoCompras.total}"></span></p>
                            </div><!--item-subtotal-->
                            <input type="submit" name="send-payment" id="send-payment" value="PROSSEGUIR">
                        </div><!--content-subtotal-->

                    </form>
                </div><!--wrap-carrinho-->
            </div><!--container-->
        </section><!--carrinho-section-->
        <footer>
            <p>Desenvolvido por WDA</p>
            <p>Todos os direitos reservados - 2019</p>
        </footer>
        <script data-th-src="@{/js/carrinho.js}"></script>
    </body>
</html>