<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Open Beer</title>
        <link rel="stylesheet" data-th-href="@{/css/template.css}">
        <link rel="stylesheet" data-th-href="@{/css/carrinho.css}">
        <link rel="stylesheet" data-th-href="@{/css/footer.css}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    </head>

    <body>
        <header class="menu-internas">
            <div class="container">
                <!-- <div class="cadastro-login">
                     <div class="field-cadastro">
                         <a href="#">CADASTRE-SE</a>
                     </div>
                <!--field-cadastro-->
                <!-- <div class="field-login">
                     <a href="#">LOGIN</a>
                 </div>
                <!--field-login-->
                <!-- </div>
                <!--cadastro-login-->
                <nav class="nav-interna">
                    <div class="name-logo">
                        <h1>OPENBEER.</h1>
                    </div>
                    <ul>
                        <li><a data-th-href="@{/OpenBeer/Home}">HOME</a></li>
                        <li><a data-th-href="@{/OpenBeer/Home#sobre}">SOBRE</a></li>
                        <li><a data-th-href="@{/OpenBeer/cerveja/Lista-de-Cervejas}">CERVEJAS</a></li>
                        <li><a data-th-href="@{/OpenBeer/Home#contato}">CONTATO</a></li>
                        <li><a data-th-href="@{/OpenBeer/BackOffice/Consultar-Produtos}">BACKOFFICE</a></li>
                    </ul>
                    <div class="carrinho-icon">
                        <div class="wrap-carrinho-icon">
                            <img data-th-src="@{/img/icon-carrinho.png}" alt="Carrinho Icon" width="50">
                            <div class="circle-car">
                                <span data-th-text ="${quantidadeCarrinho}"></span>
                            </div><!--circle-car-->
                        </div><!--wrap-carrinho-icon-->
                    </div><!--carrinho-icon-->
                </nav>
                <!--nav-interna-->
            </div>
        </header>
        <main layout:fragment="conteudo">
        </main>
        <footer>
            <p>Desenvolvido por WDA</p>
            <p>Todos os direitos reservados - 2019</p>
        </footer>
        <script data-th-src="@{/js/header.js}"></script>
    </body>
</html>
