<html layout:decorate="~{template2}">
    <body>
        <div layout:fragment="conteudo">
            <link rel="stylesheet" data-th-href="@{/css/consultar-produto.css}">
            <link rel="stylesheet" data-th-href="@{/css/mensagens.css}">
            <section class="modal-delete" >
                <div class="modal">
                    <div class="wrap-modal">
                        <div class="wrap-mensagem">
                            <h2>Deseja realmente deletar ?</h2>
                            <span>Essa ação será irreversível</span>
                            <input id="modal-deletar-product-id" type="hidden" name="id"/> 
                        </div><!--wrap-mensagem-->
                        <div class="modal-btn">
                            <button class="btn-modal-cancelar btn">Cancelar</button>
                            <button class="btn-modal-deletar btn" id="deleteProduct">Deletar</button>
                        </div><!--modal-content-->

                    </div><!--wrap-modal-->
                </div><!--modal-->
            </section><!--modal-delete-->

            <section class="consult">
                <div class="container">
                    <div class="wrap-consult">
                        <h2>Gerenciamento de Produtos</h2><br>
                        <div data-th-if="${mensagemSucesso != null}" data-th-text="${mensagemSucesso}" class="alert alert-success" role="alert"></div>
                        <table cellspacing = "0" cellpadding = "0" align = "center" id='tableCerveja'>
                            <tr>
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                                <th>Ações</th>
                            </tr>
                            <tr align = "center" data-th-each="cerveja : ${cerveja}">
                                <td data-th-text="${cerveja.codigoCerveja}"></td>
                                <td data-th-text="${cerveja.nome}"></td>
                                <td data-th-text="${cerveja.quantidade}"></td>
                                <td data-th-text="${cerveja.valorCerveja}"></td>
                                <td><a data-th-href="@{/OpenBeer/cerveja/{id}/editar(id=${cerveja.id})}" class="btn btn-editar">Editar</a><a th:attr="onclick = ${ 'modalRemover(' + cerveja.id + ')' }" href="#"  class="btn btn-deletar">Deletar</a>                                                                                                                                             
                                    <input id="cerveja-id" type="hidden" name="cerveja-id"/> 
                            </tr>
                        </table><br>
                        <div style="text-align:left">
                            <a data-th-href="@{/OpenBeer/cerveja/novo}" class="btn btn-editar">Adicionar</a>
                        </div>
                    </div><!--wrap-consult-->
                </div><!--container-->
            </section>           
            <script type="text/javascript" data-th-src="@{/js/consultar.js}"></script>
        </div>
    </body>
</html>
